.hero-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image covers the container without distortion on larger screens */
    z-index: -1;
}

:root {
     color-scheme: light only;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .hero-image {
        object-fit: contain; /* Ensures the image fits within the container on smaller screens */
		height:75% !important;
    }
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.5em;
}

/* Adjust text size on smaller screens */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 1.2em;
    }
}



body.menu-open {
    overflow: hidden;
}

* Estilos gerais para o submenu */
.mobile-dropdown {
    position: relative;
}

html * {
    font-family: Maleah Regular !important;
    letter-spacing: 1px;
}

.mobile-dropdown .mobile-dropdown-content {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #F7F2EE;
}

.mobile-dropdown .mobile-dropdown-content li {
    padding: 10px;
}

.mobile-dropdown .mobile-dropdown-content li a {
    text-decoration: none;
    color: #472410;
}

/* Chevron icon styles */
.mobile-dropdown .chevron::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	transform: rotate(-45deg);
	vertical-align: middle;
	width: 0.45em;	
    transition: transform 0.3s ease;
}

.mobile-dropdown.open .chevron::before {
    transform: rotate(136deg); /* Rotate for upward chevron */
	
    transition: transform 0.3s ease;
}

body {
    margin: 0;
    padding: 0;
    background: #F7F2EE;
    text-align: center;
    color: #472410;
}

header {
    background: #F7F2EE; /* Transparent background */
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: box-shadow 0.3s ease-in-out;
    z-index: 1000;
    text-align: right; /* Align header content to the right */
}

header.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.desktop-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
	font-size:16px;
}

.desktop-nav ul li {
    position: relative;
    margin: 0 15px;
}

.desktop-nav ul li a {
    text-decoration: none;
    color: #472410;
    font-weight: bold;
}

.dropdown{
}

.desktop-nav ul li ul.dropdown-content {
    display: none;
    position: absolute;
    background: #F7F2EE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 999;
	width: 280px;
    text-align: left;
	font-size:16px;
	color:#472410;
}

.desktop-nav ul li ul.dropdown-content li {
    padding: 10px 20px;
}

.desktop-nav ul li:hover ul.dropdown-content {
    display: block;
}

.mobile-header {
    display: none;
}

#mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F7F2EE;
    transform: translateY(-100%); /* Start off-screen */
    transition: transform 0.3s ease-out; /* Smooth slide down */
    overflow-y: auto;
    z-index: 9999; /* Ensure it's above all other content */
    padding-top: 60px; /* Adjust as needed for header spacing */
}

#mobile-menu.show {
    transform: translateY(0); /* Slide into view */
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Maleah Regular', sans-serif;
}

.mobile-menu ul li {
    padding: 20px 0;
}

.mobile-menu ul li a {
    color: #472410;
    text-decoration: none;
    font-weight: bold;
}

.hamburger {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px 15px;
    position: relative;
    z-index: 1001;
	float: right;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 36px;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.mobile-menu.show {
    transform: translateY(0);
}

.mobile-menu-content {
    display: flex;
    flex-direction: column;
}

.mobile-menu-content a {
    text-decoration: none;
    color: #333;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.mobile-dropdown-content {
    display: none; /* Hidden by default */
    flex-direction: column;
}

.mobile-dropdown.open .mobile-dropdown-content {
    display: flex; /* Show when open */
}

main {
    padding: 60px 0px 0px 0px;
}

h1 {
    font-size: 3em;
    margin: 0;
	font-family: Milky !important;
}

p {
    font-size: 1.4em;
    margin: 20px 0 0;
	font-family: Maleah Regular !important;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: none !important;
}

.BurgerText{
	font-size: 18px;
}
.my-justify{
	text-align: justify;
}	

.BigTitle{
 font-size:36px;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
		
	.PinkTitle{
		margin-top:32px;
    font-size: 22px;
    line-height: 35px;
    font-family: 'Maleah Regular' !important;
	}
		.MobileCenter{		
		text-align:center;
	}

	
	.MobileTitlePink{
		color:#D18741 ! important;
		font-size:20px;
	}
			
	.MobileWidthCandle{
		width:30em;
		margin-left:auto;
		margin-right:auto;		
		}
.ImageBottomVisibility{
	display:none;
}
.ImageBottomVisibilityReverse{
	display:block;
	padding-top:20px;
		width:30em;
		margin-left:auto;
		margin-right:auto;	
}
	.WhiteRoseTransform{
		transform:rotate(-90deg);
		margin-top: -30px;
	}
	.WhiteRose{
	}
	}
	
@media screen and (min-width: 1200px) {
	.my-justify{
		text-align: justify;
	}
		.FontSizeTop{
		font-size: 22px;
	}
			.FontSizeTopDogy{
		font-size: 24px;
	}
		.FontSizeTop2{
		font-size: 33px;
	}
		.FontSizeTop3{
		font-size: 56px;
	}
	.FontSizeTopDog{
		margin-top: -3px;
		margin-bottom: -3px;
		font-size: 32px;
	}
		.QuestPratc{
		padding-bottom:32px;
	}
.PinkTitle{
	background-color: #D18741;
    box-shadow: 0.4em 0 0 #D18741, -0.4em 0 0 #D18741;
    color: black !important;
    font-size: 22px;
    line-height: 35px;
    margin-left: -33px;
    margin-top: 10px;
	Width: fit-content;
    font-family: 'Maleah Regular' !important;
    
}
	
	.MobileWidthCandle{
		width:30em;
		transform: scaleY(1.09);
		Margin-top:20px;
	}
	
	

.ImageBottomVisibility{
	display:block;
}
.ImageBottomVisibilityReverse{
	display:none;
}

	.WhiteRose{
		width: 27em !important;
		padding-top: 10px;
		margin-top:39px;
	}
}

@media screen and (max-width: 768px) {	
	.my-justify{
		text-align: justify !important;
	}
.Acompanhamento{
padding-top:25px !important;
padding-bottom: 50px !important;	
}
p{
	font-size:14px;
}
.dogmargin{
	
}

.Nome{
	font-size: 33px;
}
.headerdiv{
	padding-top:50px !important;
	padding-bottom: 0px !important;
}
	
.CatClass{
		width:96%;
		    margin-top: 20px;
	}
		.QuestPratc{
			font-size: 7vw;
		padding-bottom:22px;
	}
	.MobileWidth{
		width:100%
	}
	.MobileWidthCompass{
		width:100%
	}
	.PinkTitle{
    font-size: 24px;
    line-height: 35px;
    font-family: 'Maleah Regular' !important;
	}
		.MobileCenter{		
		text-align:center;
	}

	
	.MobileTitlePink{
		color:#D18741 ! important;
		font-size:20px;
	}
	.ImageBottomVisibility{
	display:none;
}
	.ImageBottomVisibilityReverse{
	display:block;
	padding-top:20px;
		margin-left:auto;
		margin-right:auto;	
}
	.JustifyPC{
		text-align: justify!important;
	}
	
	.JustifyCenter{
		text-align: justify !important;
	}
	
	.MobileTopMargin {
		Margin-top:24px;
	}
	
	.FontSizeTop{
	}
	
	.FontSizeTop2{
		font-size: 6.8vw;
		font-weight:bold;
	}
	
	.FontSizeTop3{
		font-size: 9vw !important;
	}
	
	.FontSizeTopDog{
		
		font-size: 5.7vw !important;
	}
	
	.MobileWidthDogs{
		width:100%
	}

	
	.MobileWidthLogo{
		width:25%
	}
	
	.MobileMarginCandle{
	}
	.MobilePaddingCandle{
	}
	.Feather{
		transform: rotate(13deg);	
		    margin-left: 10px;
	}
	.FeatherDiv{
		margin-top: -5px;
	}
	
	.LeituraFeminina{
		    margin-top: -10px !important;
	}

.HeaderPadding{
}
.ImageBottomMargin{
	margin-bottom:10px;
}
.MobileMargin{
	margin-top:-1px;
}

.BordauxText{
	font-size:18px;
}
.BordauxPadding{
	
}
.BigTitle{
 font-size:34px;
}

.FerramentasTitle{
	
    font-size: 22px;
    line-height: 35px;
    margin-top: 24px;
    font-family: 'Maleah Regular' !important;
    
}	
	.header{
		    background-image: url(../img/Header_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 148vw;
    background-position: 53% 130.7%;
	}	
	.headerDog{
		    background-image: url(../img/NewHeaderDogsShort.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 148vw;
    background-position: 53% 130.7%;
	}
.SizePequeno{
	font-size:16px;
}
	
	.MobilePaddingDogs{
	}
	.HeaderM{
		display:inline-block;
	}
	.HeaderP{
		display:none;
	}
	.desktop-nav {
        display: none;
    }
    .mobile-header {
        display: block;
    }
}

@media screen and (min-width: 768px) {
	.Acompanhamento{
padding-top:50px !important;
padding-bottom: 50px !important;	
}

.Nome{
	font-size: 36px;
}
	.headerdiv{
	padding-top:100px !important;
	padding-bottom: 0px !important;	
	}
	
		.JustifyCenter{
		text-align: Center !important;
	}
	
	.dogmargin{
		margin: 25px 90px 0px 90px;
	}
	.CatClass{
		width:100%;
		margin-top: 38px;
	}
	.JustifyPC{
		text-align: justify!important;
	}
	
	.QuestPratc{
		padding-bottom:32px;
		font-size:28px;
	}
	
	.Feather{
		width:31%;
		transform: rotate(13deg);		
		margin-left: auto;
		margin-right: auto;
		margin-top: 32px;
		margin-bottom: -25px;
	}
	.FeatherDiv{
		margin-right: -137px;
		margin-left: -110px;
		margin-top: -5px;
	}
	.HeaderM{
		display:none;
	}
	.HeaderP{
		display:inline-block;
	}
	
.SizePequeno{
	font-size:18px;
}
	.header{
background-image: url(../img/Header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 23vw;
	}
	.headerDog{
background-image: url(../img/Header__animals_pc.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 24vw;
	}
	.MobileWidth{
		width:36em;
		margin-top: 28px;
	}
	.MobileWidthCompass{
		width:39em;
		margin-top: 28px;
	}
	.MobileWidthDogs{
		width:21vw
	}
	
	.MobileMargin{
	margin-top:-1px;
	}
	.MobileWidthLogo{
		width:6%
	}
	
	.MobilePaddingDogs{
		padding: 0 20px 0 20px;
	}
	
	.MobileMarginCandle{
		/*margin-top: 5%;*/
	}
	.MobilePaddingCandle{		
		padding-left:50px;
		margin-top: 1%;
	}
	
.FerramentasTitle{
	
    font-size: 32px;
    line-height: 35px;
    margin-top: 50px;
    
}

	.DogText{
		text-align: justify;
		line-height:1.25;
		padding-left:30px!important;
	}
.BordauxText{
	font-size:19px;
	letter-spacing:1px;
}
.BordauxPadding{
	    padding-left: 20px; 
}
	
.HeaderPadding{
	padding-top: 44px;
    padding-right: 3px;
    padding-bottom: 117px;
    padding-left: 3px;
}

.ImageBottomMargin{
}
}

.row{
	    margin-left: auto !important;
    margin-right: auto !important;
}

.collapsed.Fechado{
	display: block;
}

.Fechado{
	display: none;
}

.collapsed.Aberto{
	display: none;
}

.Aberto{
	display: block;
}
.w3-content{
	max-width: 1200px !important;
}
.img-responsive{
	display:initial;
}

.LineTopics{
	line-height: 1.0;
}

.w3-padding-64{
	padding-top: 50px!important;
    padding-bottom: 50px!important;
}
/* maven-pro-regular - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/maven-pro-v32-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/maven-pro-v32-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/maven-pro-v32-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/maven-pro-v32-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/maven-pro-v32-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/maven-pro-v32-latin-regular.svg#MavenPro') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Delius';
    src: url('./fonts/Delius-Regular.woff2') format('woff2'),
         url('./fonts/Delius-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
font-family: 'Droid Serif Regular';
font-style: normal;
font-weight: normal;
src: url('./fonts/DroidSerif-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Bray Notes';
    src:url('./fonts/BrayNotes-Regular.woff2') format('woff2'),
        url('./fonts/BrayNotes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* @font-face { */
    /* font-family: 'Milky'; */
    /* src:url('./fonts/Milky Matcha Personal Use.woff2') format('woff2'), */
        /* url('./Milky Matcha Personal Use.woff') format('woff'); */
    /* font-weight: normal; */
    /* font-style: normal; */
/* } */
@font-face {
	font-family: 'AireBoldPro';
	src: url('AireBoldPro.eot');
	src: local('☞AireBoldPro'), local('AireBoldPro'),
		url('AireLightPro.eot?#iefix') format('embedded-opentype'),
		url('./fonts/AireBoldPro.woff') format('woff'),
		url('AireBoldPro.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Seasons';
	src: url('AireBoldPro.eot');
	src: local('☞AireBoldPro'), local('AireBoldPro'),
		url('AireBoldPro.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Seasons.woff') format('woff'),
		url('AireBoldPro.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Mirage';
	src: local('Mirage'),
		url('./fonts/mirage.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
/* @font-face { */
    /* font-family: 'Maleah Regular'; */
    /* font-style: normal; */
    /* font-weight: normal; */
    /* src: local('Maleah Regular'), url('./fonts/Maleah-Regular.woff') format('woff'); */
/* } */
@font-face {
    font-family: 'Maleah Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Muli-Light.woff') format('woff');
}

    @font-face {
    font-family: 'Gemola Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gemola Regular'), url('./fonts/Gemola.woff') format('woff');
    }