
@media screen and (max-width: 1200px) and (min-width: 600px) {
		
	.PinkTitle{
		margin-top:32px;
    font-size: 22px;
    line-height: 35px;
    font-family: 'Maleah Regular' !important;
	}
		.MobileCenter{		
		text-align:center;
	}

	
	.MobileTitlePink{
		color:#D18741 ! important;
		font-size:20px;
	}
			
	.MobileWidthCandle{
		width:30em;
		margin-left:auto;
		margin-right:auto;		
		}
.ImageBottomVisibility{
	display:none;
}
.ImageBottomVisibilityReverse{
	display:block;
	padding-top:20px;
		width:30em;
		margin-left:auto;
		margin-right:auto;	
}
	.WhiteRoseTransform{
		transform:rotate(-90deg);
		margin-top: -30px;
	}
	.WhiteRose{
	}
	}
	
@media screen and (min-width: 1200px) {
		.FontSizeTop{
		font-size: 24px;
	}
		.FontSizeTop2{
		font-size: 33px;
	}
		.FontSizeTop3{
		font-size: 56px;
	}
		.QuestPratc{
		padding-bottom:32px;
	}
.PinkTitle{
	background-color: #D18741;
    box-shadow: 0.4em 0 0 #D18741, -0.4em 0 0 #D18741;
    color: black !important;
    font-size: 22px;
    line-height: 35px;
    margin-left: -33px;
    margin-top: 10px;
	Width: fit-content;
    font-family: 'Maleah Regular' !important;
    
}
	
	.MobileWidthCandle{
		width:30em;
		transform: scaleY(1.09);
		Margin-top:20px;
	}
	
	

.ImageBottomVisibility{
	display:block;
}
.ImageBottomVisibilityReverse{
	display:none;
}

	.WhiteRose{
		width: 27em !important;
		padding-top: 10px;
		margin-top:39px;
	}
	}
@media screen and (max-width: 600px) {	
.dogmargin{
	
}	
.CatClass{
		width:96%;
	}
		.QuestPratc{
		padding-bottom:22px;
	}
	.MobileWidth{
		width:100%
	}
	.MobileWidthCompass{
		width:100%
	}
	.PinkTitle{
    font-size: 24px;
    line-height: 35px;
    font-family: 'Maleah Regular' !important;
	}
		.MobileCenter{		
		text-align:center;
	}

	
	.MobileTitlePink{
		color:#D18741 ! important;
		font-size:20px;
	}
	.ImageBottomVisibility{
	display:none;
}
	.ImageBottomVisibilityReverse{
	display:block;
	padding-top:20px;
		margin-left:auto;
		margin-right:auto;	
}
	.JustifyPC{
		text-align: justify!important;
	}
	
	.JustifyCenter{
		text-align: justify !important;
	}
	
	.MobileTopMargin {
		Margin-top:24px;
	}
	.FontSizeTop{
		font-size: 2.5vw;
	}
	
	.FontSizeTop2{
		font-size: 4.8vw;
		font-weight:bold;
	}
	
	.FontSizeTop3{
		font-size: 9vw !important;
	}
	
	.MobileWidthDogs{
		width:100%
	}

	
	.MobileWidthLogo{
		width:25%
	}
	
	.MobileMarginCandle{
	}
	.MobilePaddingCandle{
	}
	.Feather{
		transform: rotate(13deg);	
		    margin-left: 10px;
	}
	.FeatherDiv{
		margin-top: -5px;
	}
	
	.LeituraFeminina{
		    margin-top: -10px !important;
	}

.HeaderPadding{
}
.ImageBottomMargin{
	margin-bottom:10px;
}
.MobileMargin{
	margin-top:-1px;
}

	
p{
	font-size:17px;
}
span{
	font-size:15px;
}


h1 {
    font-size: 29px;
}
.BordauxText{
	font-size:18px;
}
.BordauxPadding{
	
}
.FerramentasTitle{
	
    font-size: 22px;
    line-height: 35px;
    margin-top: 24px;
    font-family: 'Maleah Regular' !important;
    
}	
	.header{
		    background-image: url(../img/Header_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 148vw;
    background-position: 53% 130.7%;
	}	
	.headerDog{
		    background-image: url(../img/NewHeaderDogsShort.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 148vw;
    background-position: 53% 130.7%;
	}
.SizePequeno{
	font-size:16px;
}
	
	.MobilePaddingDogs{
	}
	.HeaderM{
		display:inline-block;
	}
	.HeaderP{
		display:none;
	}
}

@media screen and (min-width: 600px) {
		.JustifyCenter{
		text-align: Center !important;
	}
	
	.dogmargin{
		margin: 25px 90px 0px 90px;
	}
		.CatClass{
		width:100%;
	}
		.JustifyPC{
		text-align: justify!important;
	}
	
	.QuestPratc{
		padding-bottom:32px;
	}
	
	.Feather{
		width:31%;
		transform: rotate(13deg);		
		margin-left: auto;
		margin-right: auto;
		    margin-top: 32px;
    margin-bottom: -25px;
	}
	.FeatherDiv{
		margin-right: -137px;
		    margin-left: -110px;
		margin-top: -5px;
	}
	.HeaderM{
		display:none;
	}
	.HeaderP{
		display:inline-block;
	}
	
.SizePequeno{
	font-size:18px;
}
	.header{
background-image: url(../img/Header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 23vw;
	}
	.headerDog{
background-image: url(../img/Header__animals_pc.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 24vw;
	}
	.MobileWidth{
		width:36em;
		margin-top: 28px;
	}
	.MobileWidthCompass{
		width:39em;
		margin-top: 28px;
	}
	.MobileWidthDogs{
		width:21vw
	}
	
	.MobileMargin{
	margin-top:-1px;
	}
	.MobileWidthLogo{
		width:6%
	}
	
	.MobilePaddingDogs{
		padding: 0 20px 0 20px;
	}
	
	.MobileMarginCandle{
		/*margin-top: 5%;*/
	}
	.MobilePaddingCandle{		
		padding-left:50px;
		margin-top: 1%;
	}
	
.FerramentasTitle{
	
    font-size: 24px;
    line-height: 35px;
    margin-top: 24px;
    
}

	.DogText{
		text-align: justify;
		line-height:1.25;
		padding-left:30px!important;
	}
.BordauxText{
	font-size:19px;
	letter-spacing:1px;
}
.BordauxPadding{
	    padding-left: 20px; 
}
	
.HeaderPadding{
	padding-top: 44px;
    padding-right: 3px;
    padding-bottom: 117px;
    padding-left: 3px;
}

.ImageBottomMargin{
}
p{
	font-size:20px;
	letter-spacing:1px;
}
span{
	font-size:20px;
	letter-spacing:1px;
}


h1 {
    font-size: 32px;
	letter-spacing:1px;
}
}

.row{
	    margin-left: auto !important;
    margin-right: auto !important;
}

.collapsed.Fechado{
	display: block;
}

.Fechado{
	display: none;
}

.collapsed.Aberto{
	display: none;
}

.Aberto{
	display: block;
}
.w3-content{
	max-width: 1200px;
}

html *{
	font-family: Maleah Regular !important;
	letter-spacing:1px;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none !important;
}
.img-responsive{
	display:initial;
}

.LineTopics{
	line-height: 1.0;
}

.w3-padding-64{
	padding-top: 50px!important;
    padding-bottom: 50px!important;
}

/* maven-pro-regular - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/maven-pro-v32-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/maven-pro-v32-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/maven-pro-v32-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/maven-pro-v32-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/maven-pro-v32-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/maven-pro-v32-latin-regular.svg#MavenPro') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Delius';
    src: url('./fonts/Delius-Regular.woff2') format('woff2'),
         url('./fonts/Delius-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
font-family: 'Droid Serif Regular';
font-style: normal;
font-weight: normal;
src: url('./fonts/DroidSerif-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Bray Notes';
    src:url('./fonts/BrayNotes-Regular.woff2') format('woff2'),
        url('./fonts/BrayNotes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Milky';
    src:url('./fonts/Milky Matcha Personal Use.woff2') format('woff2'),
        url('./Milky Matcha Personal Use.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'AireLightPro';
	src: url('AireLightPro.eot');
	src: local('☞AireLightPro'), local('AireLightPro'),
		url('AireLightPro.eot?#iefix') format('embedded-opentype'),
		url('./fonts/AireLightPro.woff') format('woff'),
		url('AireLightPro.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Seasons';
	src: url('AireBoldPro.eot');
	src: local('☞AireBoldPro'), local('AireBoldPro'),
		url('AireBoldPro.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Seasons.woff') format('woff'),
		url('AireBoldPro.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Mirage';
	src: local('Mirage'),
		url('./fonts/mirage.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'Maleah Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Maleah Regular'), url('./fonts/Maleah-Regular.woff') format('woff');
}