@media screen and (max-width: 600px) {
	.MobileWidth{
		width:100%
	}
	
	.MobileMargin{
	}
	
	.MobileWidthCandle{
		width:100%
	}
	
	.MobileMarginCandle{
	}
	.MobilePaddingCandle{
	}
}

@media screen and (min-width: 600px) {
	.MobileWidth{
		width:115%
	}
	
	.MobileMargin{
		margin-top: 2%;
	}
	
	.MobileWidthCandle{
		width:94%
	}
	
	.MobileMarginCandle{
		margin-top: 5%;
	}
	.MobilePaddingCandle{		
		padding-left:50px;
	}
}

.w3-content{
	max-width: 1200px;
}

html *{
	font-family: Maven Pro !important;
}
/* maven-pro-regular - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/maven-pro-v32-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/maven-pro-v32-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/maven-pro-v32-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/maven-pro-v32-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/maven-pro-v32-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/maven-pro-v32-latin-regular.svg#MavenPro') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Delius';
    src: url('./fonts/Delius-Regular.woff2') format('woff2'),
         url('./fonts/Delius-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}